PROJECT_NAME="NeoBank API"
DATABASE_URL="postgresql+asyncpg://postgres:yourpassword@localhost:5432/neobank"
SECRET_KEY="e4b1c9b0f50e4a3d9deff78c2cee1f7c5a17a75e52f9921c66abfaa541d27bcd"
ALGORITHM="HS256"
EXISTING_MAIN_PATH="/mnt/data/main.py"