fastapi
uvicorn[standard]
pydantic
pydantic-settings
httpx
torch==2.1.0
torchvision==0.16.0
torchaudio==2.1.0
speechbrain
hyperpyyaml
sentencepiece
huggingface_hub==0.14.1
python-multipart
sqlalchemy
asyncpg
pydantic[email]
passlib
python-jose[cryptography]
packaging
joblib
scipy
tqdm>=4.42.1
bcrypt
google-generativeai
librosa
soundfile
asgiref
